@model NoSQL_Project.Models.PasswordResset.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="forgotPassword_Container">
    <header class="forgotPassword_Header">
        <div class="Logo_container">
            <div class="Logo"><img src="/assets/GGLogo.svg" alt="GardenGroupLogo" /></div>
            @* <h2 class="LogoText">Title Here </h2>  TITLE HERE !!!! TO DO*@
        </div>
        
    </header>
    <div class="forgotPassword_FormWrapper">
        <form asp-action="ForgotPassword" method="post">
            <label>Email</label>
            <input class="form_input" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <button class="button_primary" type="submit">Send reset link</button>
        </form>
    </div>
</div>
