@model NoSQL_Project.Models.PasswordResset.ResetPasswordViewModel
@{
    ViewData["Title"] = "Resset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="forgotPassword_Container">
    <header>
        <div class="Logo_container">
            <div class="Logo"><img src="/assets/GGLogo.svg" alt="GardenGroupLogo" /></div>
            @* <h2 class="LogoText">Title Here </h2>  TITLE HERE !!!! TO DO*@
        </div>
        
    </header>

    <div class="forgotPassword_FormWrapper">
        @if (TempData["Error"] != null)
        {
        <p class="alert-danger">@TempData["Error"]</p>
        <form action="/Home/Login" method="get">
            <div class="horizontal_container login_button_container">
                <button class="button_primary" type="submit">Go Back To Login Page</button>
            </div>
        </form>
        }
        else
        {
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="UserId" />

            <label>New Password</label>
            <input class="form_input" asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>

            <label>Confirm Password</label>
            <input class="form_input" asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword"></span>

            <button class="button_primary" type="submit">Reset Password</button>
        </form>
        }
    </div>
</div>