@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<header>
    <div class="Logo_container">
        <div class="Logo"><img src="/assets/GGLogo.svg" alt="GardenGroupLogo" /></div>
        @* <h2 class="LogoText">Title Here </h2>  TITLE HERE !!!! TO DO*@
    </div>
    <h1>@ViewData["Title"] Test User: email@gmail.com  1234</h1>
    <nav class="LoginPage_nav">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <form action="/Home/SetTheme" method="post">
                    <article class="input_group">
                        <label for="Theme">Theme</label>
                        <select onchange="this.form.submit()" id="Theme" name="theme" class="input_field">
                            <option style="color: black;" value="">@(
                                    Context?.Request.Cookies["PreferedTheme"] ?? "Select Theme")</option>
                            <option value="Dark">Dark</option>
                            <option value="Light">Light</option>
                        </select>
                    </article>
                </form>
            </li>
        </ul>
    </nav>
</header>


<div class="login_body">
    <form action="/Home/Login" method="post">
        <div>
            <input class="form_input" type="email" id="username" name="Email" placeholder="Email" required />
        </div>
        <div>
            <input class="form_input" type="password" id="password" placeholder="Password" name="Password" required />
        </div>
        <div class="horizontal_container login_button_container">
            <button class="button_primary" type="submit">Login</button>
            <a class="forgotten_password_button" href="/Account/ForgotPassword">Forgoten password?</a>
        </div>
    </form>
</div>
@if (TempData["ErrorMessage"] != null)
{
	<p class="alert-danger">@TempData["ErrorMessage"]</p>
}
@if (TempData["Success"] != null)
{
	<p class="alert-success">@TempData["Success"]</p>

}