@{
		ViewData["Title"] = "Login";
}

<form action="/Home/Login" method="post">
	<div>
		<label class="form-label" for="email">Email:</label>
		<input class="form-text" type="email" id="username" name="Email" required />
	</div>
	<div>
		<label class="form-label" for="password">Password:</label>
		<input class="form-text" type="password" id="password" name="Password" required />
	</div>
	<button class="btn btn-outline-primary" type="submit">Login</button>
	<a href="#">Forgoten password?</a>
</form>
@if (TempData["ErrorMessage"] != null)
{
	<p class="alert-danger">@TempData["ErrorMessage"]</p>
}