<link href="~/css/site.css" rel="stylesheet" />

<header class="bg-light border-bottom">
    <div class="container-fluid py-2">
        <div class="d-flex align-items-center justify-content-between">

            <!-- Left: Logo -->
            <div class="d-flex align-items-center">
                <img id="headImg" src="/assets/GGLogoSmaller.svg" alt="Logo">  
            </div>
            <div class="text-end">
                <h1 class="fw-bold mb-0">NoDesk</h1>
                <p class="mb-0 fw-semibold">Licensed to: The Garden Group</p>
            </div>
        </div>
    </div>

    <!-- Navigation Bar -->
    <nav class="bg-white border-top border-bottom">
        <ul class="nav text-center justify-content-center">
            <li class="nav-item navie me-5">
                <a class="nav-link fw-semibold text-dark" href="../Views/User/Index.cshtml">Dashboard</a>
            </li>
            <li class="nav-item navie me-3">
                <a class="nav-link fw-semibold text-dark" href="#">Incident Management</a>
            </li>
            <li class="nav-item navie">
                <a class="nav-link fw-semibold text-dark" href="#">User Management</a>
            </li>
        </ul>
    </nav>
</header>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
